* {
    box-sizing:border-box
}

body {
    background-color: #e3a000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: 	#00165e;
    font-size: 40px;
    margin: 0;
}

h2{ 
    color: 	#033807;
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center; 
    align-items: center;
    width: 100%;    
}

.container.cards{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card-pile {
    width:100%;
}

.player-one, .player-two{
    width: 50%;
    display: none;  
}

.card{
    height: 400px; 
    width:300px;
    display: inline-block; 
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #CB997E;
    background-color: #9c1203;
    border-radius: 5%;
    font-size: large;
    box-shadow: 5px 5px 10px #a58d7e;
    color: #2d004d;

}

h3 span {
    color: silver;;
}

img {
    height: 50px;
    width: 50px;
}

table {
    border-spacing: 50px 5px;
    margin: auto;
}

td, th{
    text-align: left;
}

td span {
    color: silver;
}

#player_one_back, #player_two_back{
    font-size: 50px;
    transform: rotate(45deg);
    color: silver;
    z-index: 1;
    padding: 95px 50px 95px 50px;
}

.card-total{
    margin-top: 5%;
    font-size: x-large;
    color: #00165e;
    font-weight: bold;
}

.set-aside {
    display: none;
    text-align: center;
    color: #00165e;
    font-weight: bold;
    font-size: x-large;
    margin: 0.5%;
}

.container.messages {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #00165e;
    font-size: 25px;

}

.trump_card {
    color: #9c1203;
    font-weight: bold;
}

.category {
    color: #033807;
    font-weight: bold;
}

.game.new {
    margin: 5px auto 5px auto;
}

.round, .turn {
    display: none;
    margin: 5px auto 5px auto;
}

.winner {
    display: none;
}

.game.winner{
    font-weight: bold;
}

.compare, .move {
    display: none;
    margin-top: 20px;
}

.buttons {
    width: 100%;
    display: inline-block;
}

button {
    background-color: #033807;
    color: silver;
    border: 1px solid silver;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
}

label {
    font-size: 25px;
    color: #033807;
    display: none;
}

select {
    font-size: 25px;
    background-color: #033807; 
    color: silver; 
    border-radius: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    
    .card{
        height:375px; 
        width:300px;
    }

    .container.messages{
        font-size: 20px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body {
        margin-top: 50px;
    }
    h3 {
        margin: 0.5%;
    }

    .card {
        height:370px; 
        width:260px;
    }

    .container.messages{
        font-size: 20px;
        margin-top: 25px;
    }

}

/* smaller tablets (landscape) ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 767px) and (orientation: landscape) {
    /* @media only screen and (max-width: 600px) { */
    h1 {
        font-size: 25px;
    }

    .container.cards{
        width: 100vw;
        margin-left: auto;
        margin-right:auto;
        margin-top:0;
    }

    h2{
        font-size: large;
        margin: 0%;
    }
    
    .card {
        height:275px; 
        width:225px;
        font-size: 85%;
    }

    .card-total{
        font-size: large;
        color: #00165e;
        margin-top: 1%;
    }

    .set-aside{
        font-size: large;
        margin: 0;
    }

    #player_one_back, #player_two_back{
        font-size: 40px;
    }

    #player_one_back, #player_two_back{
        font-size: 40px;
        padding: 80px 0px 0px 0px;
    }

    .container.messages {
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        width: 90%;
        font-size: large;
    }

    .container.buttons{
        margin-top: 0;
    }

    label, select {
        font-size: 20px;
    }

    .compare {
        font-size: 20px;
        margin-top: 0
    }
    
    }

/* smaller tablets (portrait) ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 767px) and (orientation: portrait) {
/* @media only screen and (max-width: 600px) { */

    .container.cards{
        width: 100%;
        margin: auto;
    }

    .card {
        height:325px; 
        width:250px;
    }

    #player_one_back, #player_two_back{
        font-size: 40px;
    }

    .set-aside{
        margin-top: 5px;
    }

    .container.messages {
        margin-top: 2%;
        margin-bottom: 0;
        width: 90%;
    }

    .container.buttons{
        margin-top: 0;
    }

    button {
        font-size: 20px;
    }

}


@media only screen and (max-width: 500px) {

    .card-total{
        font-size: 20px;
    }

    .set-aside{
        font-size: 20px;
        margin-top: 5px;
    }

    .container.cards{
        width: 100vw;
    }

    .player-one, .player-two, .card-pile{
        width: 100vw; 
        margin: 0 10% 0 10%
    }

    #player_one_back, #player_two_back{
        font-size: 40px;
    }
    
    .card {
        height:75%; 
        width:100%;
    }

    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    label {
        font-size: 20px;
    }

    .container.messages{
        font-size: 20px;
    }
    
    select {
        font-size: 20px;
    }

    button {
        font-size: 20px;
    }

}

@media only screen and (max-width: 350px) {

    .container.cards{
        width: 100vw;
    }

    .card {
        height:300px; 
        width:250px;
    }
}